form {
	display: flex;
	height: 100%;
	/* width: 50%; */
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.main-btn {
	display: inline-block;
	width: 45%;
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
}

.main-btn:hover {
	box-shadow: #ebebeb;
	border: 1px solid #b0b4b8;
}

.switchers {
	display: flex;
	justify-content: flex-end;
}

.links-switcher {
	color: rgba(0, 0, 0, 0.87);
	text-decoration: none;
	margin-right: 15px;
	line-height: 24px;
}

.links-switcher:hover {
	text-decoration: underline;
}

.links-switcher:visited {
	color: rgba(0, 0, 0, 0.87);
}

.searches {
	width: 96%;
	display: flex;
	flex-direction: column;
	margin: 40px 2% 0 45px;
}

.field {
	min-width: 160px;
	width: 80%;
	height: 42px;
	color: #222;
	font-size: 13px;
	line-height: 16px;
	display: flex;
}

.field > label {
	align-self: center;
	width: 23%;
}

.field > input {
	max-height: 16px;
	align-self: center;
	width: 75%;
}
#advanced {
	margin-left: 10px;
	color: #d93025;
	font-size: 20px;
	margin: 25px 35px;
}

#line {
	border-bottom: 1px solid #ebebeb;
}

#find {
	float: left;
	min-width: 167px;
	width: 16%;
	font-weight: 500;
	color: #333;
	vertical-align: middle;
}

#advanced-submit {
	background-color: #357ae8;
	font-size: 11px;
	font-weight: bold;
	outline: 0;
	width: 15%;
	margin-right: 19%;
	align-self: flex-end;
	color: #fff;
	border: 1px solid #2f5bb7;
	border-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}

input[type="text"] {
	width: 70%;
	height: 20px;
}
