.switchers {
	display: flex;
	justify-content: flex-end;
	color: rgba(0, 0, 0, 0.87);
}

.links-switcher {
	text-decoration: none;
	margin-right: 15px;
	line-height: 24px;
}

.links-switcher:hover {
	text-decoration: underline;
}

.links-switcher:visited {
	color: rgba(0, 0, 0, 0.87);
}
